---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;

.no-cover .main-nav.overlay .back-button {
	color: rgba(255,255,255,0.4);
	border-color: rgba(255,255,255,0.3);
}

.main-nav.overlay .back-button:hover {
	color: #222;
	border-color: #fff;
	background: #fff;
	transition: all 0.1s ease;
}
